.conteiner {
    max-width: 800px;
    margin: 0auto;
}

.text {
    text-align: center;
    color: red;
    margin-bottom: 40px;

}

.box {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.fade-in{
    background-color: red;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(0px);
    }

    to {
        opacity: 1;
        transform: translateX(200);
    }
}

.move{
        background-color: blue;
    opacity: 0;
    animation: move 3s infinite alternate;
}

@keyframes move{
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.rotate{
    background-color: blueviolet;
    animation: rotate 0.00001s infinite;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
        to {
        transform: rotate(360deg);
    }
}

.color-change{
    background-color: deeppink;
    animation: colorchange 5s infinite;
}

@keyframes colorchange{
    0% {background-color: brown;}
    33%{background-color: deeppink;}
    66%{background-color: brown;}
    100%{background-color: deeppink;}
}

.pulse {
    background-color: gold;
    padding: 20px;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.hover-effect {
    background-color: rgb(4, 255, 0);
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
